In [1]:
items = [10, 20, 30, "world", 6.28, 14]
element = 30
position = 3
extras = ['extra', 'values']

items.append(element)
print(items)
items.insert(position, element)
print(items)
items.extend(extras)
print(items)
items.remove(element)
print(items)
items.pop(position)
print(items)
print(items.index(20))
print(items)
print(items.count(element))
print(items)
items.reverse()
print(items)

items.remove('extra')
items.remove('values')
print(items)
items.sort()
print(items)
items.clear()
print(items)

[10, 20, 30, 'world', 6.28, 14, 30]
[10, 20, 30, 30, 'world', 6.28, 14, 30]
[10, 20, 30, 30, 'world', 6.28, 14, 30, 'extra', 'values']
[10, 20, 30, 'world', 6.28, 14, 30, 'extra', 'values']
[10, 20, 30, 6.28, 14, 30, 'extra', 'values']
1
[10, 20, 30, 6.28, 14, 30, 'extra', 'values']
2
[10, 20, 30, 6.28, 14, 30, 'extra', 'values']
['values', 'extra', 30, 14, 6.28, 30, 20, 10]
[30, 14, 6.28, 30, 20, 10]
[6.28, 10, 14, 20, 30, 30]
[]

In [2]:
coordinates = (5, 10, 15, 10, 25, 10, "world", 6.28)
target = 10
print("Tuple:", coordinates)
print("Index of target (10):", coordinates.index(target))
print("Count of target (10):", coordinates.count(target))
print("Length of tuple:", len(coordinates))

Tuple: (5, 10, 15, 10, 25, 10, 'world', 6.28)
Index of target (10): 1
Count of target (10): 3
Length of tuple: 8

In [3]:
profile = {"username": "Ali", "id": 101, "location": "KHI"}
print(profile.get("username"))
print(profile.keys())
print(profile.values())
print(profile.items())
profile.update({"country": "Pakistan"})
print(profile)
profile.pop("username")
print(profile)
profile.popitem()
print(profile)
copy_profile = profile.copy()
print(copy_profile)
profile.setdefault("status", "active")
print(profile)
del profile["location"]
print(profile)

Ali
dict_keys(['username', 'id', 'location'])
dict_values(['Ali', 101, 'KHI'])
dict_items([('username', 'Ali'), ('id', 101), ('location', 'KHI')])
{'username': 'Ali', 'id': 101, 'location': 'KHI', 'country': 'Pakistan'}
{'id': 101, 'location': 'KHI', 'country': 'Pakistan'}
{'id': 101, 'location': 'KHI'}
{'id': 101, 'location': 'KHI'}
{'id': 101, 'location': 'KHI', 'status': 'active'}
{'id': 101, 'status': 'active'}

In [4]:
X = {11, 22, 33}
Y = {33, 44, 55}
X.add(66)
print("After add:", X)
X.update([77, 88])
print("After update:", X)
X.remove(22)
print("After remove:", X)
X.discard(99)
print("After discard:", X)
item = X.pop()
print("Popped element:", item)
print("Union:", X.union(Y))
print("Intersection:", X.intersection(Y))
print("Difference X-Y:", X.difference(Y))
print("Symmetric Difference:", X.symmetric_difference(Y))
print("Is X subset of Y?", X.issubset(Y))
print("Is X superset of Y?", X.issuperset(Y))
print("Are X and Y disjoint?", X.isdisjoint(Y))
X.clear()
print("After clear:", X)

After add: {33, 66, 11, 22}
After update: {33, 66, 11, 77, 22, 88}
After remove: {33, 66, 11, 77, 88}
After discard: {33, 66, 11, 77, 88}
Popped element: 33
Union: {33, 66, 55, 88, 11, 44, 77}
Intersection: set()
Difference X-Y: {88, 66, 11, 77}
Symmetric Difference: {33, 66, 11, 44, 77, 55, 88}
Is X subset of Y? False
Is X superset of Y? False
Are X and Y disjoint? True
After clear: set()

In [6]:
for n in range(5):
  print(n)

data = [11,12,14,15,11,13,12,10,15]
for j in range(len(data)):
  print(data[j])

0
1
2
3
4
11
12
14
15
11
13
12
10
15

In [7]:
def total_sum(*values):
    print(values)
    print(sum(values))

total_sum(5, 10, 15, 20)

(5, 10, 15, 20)
50

In [8]:
def display_info(**kwargs):
    for attr, val in kwargs.items():
        print(attr, "=", val)

display_info(username="Ali", age=25)

username = Ali
age = 25

In [9]:
def product_specs(**kwargs):
    print("Specs:")
    for attr, val in kwargs.items():
        print(f"{attr}: {val}")

product_specs(name="Foundation", price=2500, brand="Loreal", shade="Beige")

Specs:
name: Foundation
price: 2500
brand: Loreal
shade: Beige

In [10]:
values = [100, 200, 300]
itr_obj = iter(values)
print(next(itr_obj))
print(next(itr_obj))
print(next(itr_obj))

100
200
300

In [11]:
def gen_counter(n):
    a = 1
    while a <= n:
        yield a
        a += 1

seq = gen_counter(3)
print(next(seq))
print(next(seq))
print(next(seq))

1
2
3

In [12]:
def greet_gen():
    yield "Hi"
    yield "Ali"

output = greet_gen()
print(next(output))
print(next(output))

Hi
Ali

In [13]:
def welcome(name="Ali"):
    print("Hi", name)

welcome()
welcome("Hira")

Hi Ali
Hi Hira

In [14]:
!pip install django

Collecting django
  Downloading django-5.2.4-py3-none-any.whl.metadata (4.1 kB)
Collecting asgiref>=3.8.1 (from django)
  Downloading asgiref-3.9.1-py3-none-any.whl.metadata (9.3 kB)
Requirement already satisfied: sqlparse>=0.3.1 in /usr/local/lib/python3.11/dist-packages (from django) (0.5.3)
Downloading django-5.2.4-py3-none-any.whl (8.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.3/8.3 MB 51.0 MB/s eta 0:00:00
Downloading asgiref-3.9.1-py3-none-any.whl (23 kB)
Installing collected packages: asgiref, django
Successfully installed asgiref-3.9.1 django-5.2.4

In [15]:
def say_hello(name=None):
  if not name:
    print("hi....")
  else:
    print(f"hi {name}")

username = input("Enter your name: ")
say_hello(username)

Enter your name: Meisum
hi Meisum

In [16]:
nums = [2,4,6,8,10]
squares = [i**2 for i in nums]
print(squares)

[4, 16, 36, 64, 100]

In [17]:
class Creature:
    def speak(self):
        print("Creature makes sound")

class Cat(Creature):
    def meow(self):
        print("Cat meows")

pet = Cat()
pet.speak()
pet.meow()

Creature makes sound
Cat meows

In [18]:
class Subject:
  def credit(self):
    print(4)

class physics(Subject):
  def marks(self):
    print("75")

s = physics()
s.credit()
s.marks()

4
75